# These owners will be the default owners for everything in the repo
* @D1207-D

# Terraform infrastructure code
/infra/ @D1207-D @rhythmsh05 @seerat-sawhney @yogeshBhatt897

# GitHub Actions workflows
/.github/workflows/ @D1207-D @rhythmsh05 @seerat-sawhney @yogeshBhatt897

# Application code
/app/ @D1207-D @rhythmsh05 @seerat-sawhney @yogeshBhatt897
